{% extends "base.html" %}

{% block content %}

<div class="container-sm pt-3">

    {% include 'modals/config/local_config_crud.html' %}
    {% include 'modals/config/local_aet_crud.html' %}
    {% include 'modals/config/remote_aet_crud.html' %}
    {% include 'modals/config/radiopharmaceutical_crud.html' %}
    {% include 'modals/config/postfilter_crud.html' %}

    <!-- Title -->
    <div class="row">
        <h1 class="display-6 text-center">Configuración</h1>
    </div>

    <div class="row pt-3">
        <!-- General configuration -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    Configuración general
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div class="grid-container">
                            <div class="grid-item">ID cliente:</div>
                            <div class="grid-item" id="clientID"></div>
                            <div class="grid-item">URL del servidor:</div>
                            <div class="grid-item" id="serverURL">petfectior-server.redfcdn.com:5005</div>
                            <div class="grid-item">Nombre de usuario administrador:</div>
                            <div class="grid-item">···········</div>
                            <div class="grid-item">Contraseña administrador:</div>
                            <div class="grid-item">···········</div>
                            <div class="grid-item">Modo espejo: </div>
                            <div class="grid-item"><input type="checkbox" class="form-check-input" id="mirrorMode"
                                    name="mirrorMode" disabled></div>
                        </div>
                        <div class="flex-grow-1 h-100"></div>
                        <div class="col text-end">
                            <button type="button" id="editLocalConfig" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#localConfigModal">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Local DICOM configuration -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    Aplicación DICOM local
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column h-100">
                        <div class="grid-container">
                            <div class="grid-item">AE Title:</div>
                            <div class="grid-item" id="localAET"></div>
                            <div class="grid-item">Dirección IP:</div>
                            <div class="grid-item" id="localIP"></div>
                            <div class="grid-item">Puerto:</div>
                            <div class="grid-item" id="localPort"></div>
                        </div>
                        <div class="flex-grow-1 h-100"></div>
                        <div class="col text-end">
                            <button type="button" id="editLocalDevice" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#localDeviceModal">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Remote DICOM devices configuration -->
    <div class="row pt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Dispositivos DICOM remotos
                </div>
                <div class="card-body">
                    <table id="devices" class="display compact" style="width:100%">

                    </table>
                    <div class="row pt-2">
                        <div class="col text-end">
                            <button type="button" id="newDevice" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#deviceModal">Nuevo</button>
                            <button type="button" id="editDevice" class="btn btn-outline-dark">Editar</button>
                            <button type="button" id="deleteDevice" class="btn btn-outline-dark">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Radiopharmaceuticals configuration -->
    <div class="row pt-3 pb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Radiofármacos
                </div>
                <div class="card-body">
                    <table id="radiopharmaceuticals" class="display compact" style="width:100%">

                    </table>
                    <div class="row pt-2">
                        <div class="col text-end">
                            <button type="button" id="newRadiopharmaceutical" class="btn btn-outline-dark"
                                data-bs-toggle="modal" data-bs-target="#radiopharmaceuticalModal">Nuevo</button>
                            <button type="button" id="editRadiopharmaceutical"
                                class="btn btn-outline-dark">Editar</button>
                            <button type="button" id="deleteRadiopharmaceutical"
                                class="btn btn-outline-dark">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Recon filter configuration -->
    <div class="row pt-3 pb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Configuración de post-procesado
                </div>
                <div class="card-body">
                    <table id="postfilterSettings" class="display compact" style="width:100%">

                    </table>
                    <div class="row pt-2">
                        <div class="col text-end">
                            <button type="button" id="newPostfilter" class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#postfilterModal">Nuevo</button>
                            <button type="button" id="editPostfilter" class="btn btn-outline-dark">Editar</button>
                            <button type="button" id="deletePostfilter" class="btn btn-outline-dark">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}