{% extends "base.html" %}

{% block content %}
    
    <div class="container-sm pt-3">    

        <div class="row">
            <h1 class="display-6 text-center">Monitor de procesos</h1>
        </div>
        <hr>

        <!-- Processes table -->
        <div class="pt-3">
            <table id="processes" class="display" style="width:100%">
                
            </table>
        </div>

        <!-- Server connection table -->
        <div class="pt-3">
          <table id="monitor" class="display" style="width:100%">
              
          </table>
        </div>
    </div>

{% endblock %}

