<footer class="bg-secondary text-white text-sm">
    <div class="text-center">
        <small>
            PETfectior es un producto médico registrado ante ANMAT.
            <a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal"
                class="text-white text-decoration-underline">Ver detalles</a>
        </small>
    </div>    
</footer>

<!-- Details modal -->
<div class="modal fade" id="aboutModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="mb-3">
                    <img src="static/about.jpg" alt="Detalles del Producto" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>