{% extends "base.html" %}

{% block content %}

    <div class="container-sm pt-3">

        <div class="row">
            <h1 class="display-6 text-center">Visor de mensajes de la aplicación</h1>
        </div>

        <!-- Search form -->
        <div class="row pt-2">
            <form id="search_logs">
                <div class="form-group pt-3">
                    <!-- Log type selection -->
                    <label for="type-select" class="h5">Tipo de mensaje:</label>
                    <select class="form-control" id="logtype-select">
                        <option>App</option>
                        <option>Dicom</option>
                    </select>
                    <!-- Processes selection -->
                    <label for="process-select" class="h5 pt-3">Módulos:</label>
                    <select class="form-control" id="process-select">
                        <option>TODOS</option>
                    </select>
                    <!-- Level selection -->
                    <label class="h5 pt-2" for="process-select">Niveles</label>
                    <div class="row" name="level-select">
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="level" value="CRITICAL"> CRITICAL
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="level" value="ERROR"> ERROR
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="level" value="WARNING"> WARNING
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="level" value="INFO"> INFO
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="level" value="DEBUG"> DEBUG
                            </label>
                        </div>
                    </div>
                    <label class="h5 pt-2">Filtro temporal</label>
                    <div class="col">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="date_any" value="anydate" name="datetime">
                            <label class="form-check-label" for="date_any">All</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="date_range" value="range" name="datetime">
                            <label class="form-check-label" for="date_range">Rango (Desde : Hasta)</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="date" class="form-control" id="startDate" name="startDate" disabled>
                            </div>
                            <div class="col-sm-2">
                                <input type="time" class="form-control" id="startTime" name="startDate" disabled>
                            </div>
                            <div class="col-sm-2">
                                <input type="date" class="form-control" id="endDate" name="startDate" disabled>
                            </div>
                            <div class="col-sm-2">
                                <input type="time" class="form-control" id="endTime" name="startDate" disabled>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Submit -->
                <div class="row pt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-outline-dark" id="export">Exportar</button>
                    </div>
                </div>
            </form>
        </div>

        <hr>

        <!-- App logs table -->
        <div class="row" id="appLogsContainer">
            <table id="logs" class="display" style="width:100%">

            </table>
        </div>

        <!-- Dicom logs  -->
        <div class="row" id="dicomLogsContainer">
            <div class="col">
                <textarea class="form-control" rows="20" id="dicomLogs"></textarea>
            </div>
        </div>

    </div>
    
{% endblock %}