{% extends "base.html" %}

{% block content %}
    
    <div class="container-sm pt-3">
        
        {% include 'modals/error_details.html' %}
        
        
        <div class="row">
            <h1 class="display-6 text-center">Estado de las tareas</h1>
        </div>
        <hr>  
        <div class="pt-3">
            <table id="tasks" class="display compact nowrap" style="width:100%">
                
            </table>            
        </div>

        <div class="row pt-2">            
            <div class="col text-end">
                <button type="button" action="delete" class="task-action btn btn-light">Eliminar</button>
                <button type="button" action="retry_last_step" class="task-action btn btn-light">Reintentar últ. paso</button>
                <button type="button" action="restart" class="task-action btn btn-light">Reinicializar</button>
                <button type="button" action="delete_finished"  class="task-action btn btn-light">Eliminar finalizadas</button>
                <button type="button" action="delete_failed" class="task-action  btn btn-light">Eliminar fallidas</button>                   
            </div>
        </div>        
    </div>
    
{% endblock %}