.container {
  margin-top: 80px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: max-content auto;
  row-gap: 0.25rem;
  column-gap: 1rem;
}

.my-btn {
  border-color: #212529;
}

/* Ensure the body takes up the full viewport height */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Flex-grow the main content so that it pushes the footer to the bottom */
.content-wrapper {
  flex: 1;
}

/* Make the footer sticky at the bottom */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}