<!-- Modal for showing errors details -->
<div class="modal fade" id="errorDetailsModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Detalles del error</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <div class="mb-3">
                    <p id="errorMsg" style="text-align: justify;"></p>
                </div>
            </div>
        </div>
    </div>
</div>